@import '../../styles/variables.scss';

.kakao {
  position: absolute;
  z-index: 4;
  right: 0;
  top: 60px;
  padding: 10px;
  width: 300px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  color: black;
  font-family: 'Noto Sans KR';
  background-color: white;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

  .kakaoLogin {
    display: flex;

    .loginBtn {
      width: 85%;
    }

    .closeBtn {
      border: none;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
